$space: 45;

.carrousel {
  position: relative;
  margin-bottom: rem(20);

  &:before {
    height: rem(275);
    width: 100%;
    background: map-get($colors, "blue");
    content: "";
    position: absolute;
    top: 0;
    left: 0;
  }

  &-wrapper {
    position: relative;
    height: rem(325);
    width: calc(100% - #{rem(358)});
    margin: 0 auto;
    padding-top: rem(90);
    box-sizing: content-box;
  }

  &__image {
    border: solid rem(1) map-get($colors, "black");
    position: relative;
    z-index: 1;

    &:before {
      width: 100%;
      height: 100%;
      background: map-get($colors, "white");
      opacity: .3;
      z-index: 2;
      content: "";
      left: 0;
      top: 0;
      box-sizing: content-box;
      position: absolute;
    }
  }

  &__title {
    text-align: center;
    font-family: myriadpro-light;
    @include clamp(3);
    margin-top: rem(15);
    font-size: rem(18);
    line-height: 1em;
    height: rem(18*3);
    text-transform: uppercase;
  }

  &__item {
    cursor: pointer;

    &.active {
      cursor: default;

      .carrousel__title {
        font-family: myriadpro-regular;
        font-weight: map-get($font-weight, "bold");
      }

      .carrousel__image {
        &:before {
          opacity: 0;
        }
      }
    }
  }

  &-controls {
    &-prev {
      left: rem(-68);

      &:after {
        left: rem(12);
        transform: rotate(-135deg);
      }
    }

    &-next {
      right: rem(-68);

      &:after {
        left: rem(10);
        transform: rotate(45deg);
      }
    }

    &-prev,
    &-next {
      position: absolute;
      width: rem(33);
      height: rem(33);
      top: 47%;
      cursor: pointer;

      &:after {
        border-style: solid;
        border-width: rem(4) rem(4) 0 0;
        content: "";
        display: inline-block;
        height: rem(7);
        position: absolute;
        width: rem(7);
        top: rem(10);
        filter: invert(0%);
        transition: filter .5s;
      }

      &:hover {
        &:after {
          filter: invert(100%);
        }
      }

      &:before {
        width: rem(33);
        height: rem(33);
        content: "";
        background: map-get($colors, "green");
        position: absolute;
        border-radius: 10rem;
        z-index: 0;
      }

      &.disabled {
        pointer-events: none;
        cursor: default;
      }
    }
  }
}