.footer {
  background: map-get($colors, "blue");
  height: rem(90);
  color: map-get($colors, "white");

  .wrapper {
    height: 100%;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: calc(100% - #{rem(290)});
    margin: 0 auto;
  }

  &__contact-info {
    font-size: rem(14);
    letter-spacing: rem(1);
    word-spacing: rem(4);
    font-weight: map-get($font-weight, "bold");
  }
}

.menu-social {
  &__item {
    float: left;
    width: rem(34);
    height: rem(34);
    background: map-get($colors, "green");
    border-radius: 50rem;
    margin-left: rem(20);

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    overflow: hidden;
    text-indent: -90rem;
    display: block;
    width: 100%;
    height: 100%;
    background: no-repeat center center;
    background-size: 55%;
    filter: invert(1);
  }

  @each $social in $socials {
    .#{$social} {
      .menu-social__link {
        background-image: url("../images/#{$social}.png");
      }
    }
  }

  .email {
    .menu-social__link {
      background-image: url("../images/email.png");
      background-size: 78%;
    }
  }
}

@media (max-width: em(1120)) {
  .footer {
    height: auto;
    padding: rem(20) 0;

    &__container {
      flex-wrap: wrap;
    }

    &__contact-info {
      flex-basis: 100%;
    }

    .menu-social {
      &__wrapper {
        margin-top: rem(10);
        flex-basis: 100%;
      }
    }
  }
}

@media (max-width: em(1439)) {
  .footer__container {
    width: 100%;
  }
}