.header {
  height: rem(215);
  background: map-get($colors, "white");
  position: relative;
  z-index: 9;

  &:before {
    height: rem(95);
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background: map-get($colors, "blue");
  }

  &__logo {
    width: rem(130);
    height: rem(130);
    position: absolute;
    left: rem(100);
    top: rem(27);
    background: map-get($colors, "white") center center no-repeat url("../images/logo.png");
    border-radius: 100rem;
    overflow: hidden;
    box-shadow: 0 0 rem(10) rem(1) rgba(map-get($colors, "black"), 1);
    z-index: 9;
  }

  &-menu {
    height: 100%;

    &__wrapper {
      height: rem(120);
      position: absolute;
      right: 0;
      bottom: 0;
    }

    &__item {
      display: flex;
      height: 100%;
      align-items: center;
      margin-left: rem(45);
      float: left;
      position: relative;

      &:first-child {
        margin: 0;
      }

      &:hover {
        .sub-menu {
          display: block;
          visibility: visible;
        }
      }
    }

    &-action {
      border: solid rem(2) map-get($colors, "green");
      position: absolute;
      right: 0;
      width: rem(30);
      height: rem(30);
      top: rem(42);
      border-radius: rem(5);
      padding: rem(2);
      box-sizing: content-box;
      @include hide();
    }

    &__link {
      $transition: .5s ease;
      display: inline-block;
      color: map-get($colors, "blue");
      text-transform: uppercase;
      position: relative;
      letter-spacing: rem(.55);
      transition: text-shadow $transition;

      &:before {
        left: 0;
        right: 0;
        height: rem(2);
        width: 0;
        content: "";
        position: absolute;
        bottom: rem(-10);
        background: map-get($colors, "green");
        transition: width $transition;
        border-radius: rem(2);
        margin: 0 auto;
      }

      .current-menu-item & {
        text-shadow: rem(1) rem(1) 0 map-get($colors, "blue");

        &:before {
          width: 100%;
        }
      }
    }
  }

  &-menu > .header-menu__item > .header-menu__link:hover {
    text-shadow: rem(1) rem(1) 0 map-get($colors, "blue");

    &:before {
      width: 100%;
    }
  }

  /* stylelint-disable no-descending-specificity */

  .sub-menu {
    $p: rem(12);
    position: absolute;
    top: rem(90);
    width: rem(370);
    padding: 0 $p;
    background: map-get($colors, "blue");
    @include hide();

    .header-menu {
      &__item {
        margin: 0;
        width: 100%;
        border-bottom: solid rem(1) map-get($colors, "white");

        &:last-child {
          border-bottom: none;
        }
      }

      &__link {
        color: map-get($colors, "white");
        width: 100%;
        padding: rem(10) 0;
      }
    }
  }
}

@media (max-width: em(830)) {
  .header {
    height: rem(190);

    &__logo {
      left: 0;
    }

    &-menu {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      &__wrapper {
        left: 0;
        height: auto;
        bottom: auto;
        top: rem(160);
        padding: rem(5) 0;
        
        &:before {
          width: calc(100% + #{rem(20)});
          height: 100%;
          left: rem(-10);
          top: 0;
          content: "";
          position: absolute;
          background: map-get($colors, "white");
        }
      }

      &-action {
        display: block;
        visibility: visible;
      }

      &__item {
        float: none;
        margin: 0;
      }

      &__link {
        margin: 0 rem(5);
        height: rem(30);
        line-height: rem(30);

        &:before {
          @include hide();
        }
      }
    }
  }
}

@media (min-width: em(831)) and (max-width: em(1100)) {
  .header-menu {
    &__wrapper {
      height: rem(70);
      left: 0;
      display: flex;
      justify-content: center;
    }
  }
}