.listview {
  &-services {
    width: calc(100% - #{rem(35*2)});
    margin: 0 auto;
    padding: rem(100) 0 rem(170) 0;

    &__wrapper {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    .article-service {
      width: rem(200);
      text-align: center;
      margin-top: rem(40);
    }
  }

  &-products {
    width: calc(100% - #{rem(358)});
    margin: 0 auto rem(85) auto;
    background: map-get($colors, "lightblue");
    padding: rem(50);
    position: relative;

    .content {
      font-family: myriadpro-light;
    }

    &__acf {
      &-title {
        font-weight: map-get($font-weight, "bold");
        font-size: rem(22);
        text-transform: uppercase;
        font-family: myriadpro-regular;
      }

      &-value {
        font-size: rem(20);
      }

      &-title,
      &-value {
        margin-bottom: rem(2);
      }
    }

    &__item {
      @include hide();
      width: 100%;
      height: 100%;
      position: absolute;

      .listview-products__acf-value:last-child {
        margin-bottom: rem(20);
      }
    }

    .active {
      display: block;
      visibility: visible;
      position: relative;
    }
  }
}

#product-list {
  position: relative;
}