.listview {
  &-services {
    width: calc(100% - #{rem(35*2)});
    margin: 0 auto;
    padding: rem(100) 0 rem(170) 0;

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: rem(40) rem(-6.5) 0 rem(-6.5);
    }

    .article-service {
      width: rem(200);
      text-align: center;
      padding: 0 rem(13) rem(40) rem(13);
      box-sizing: content-box;
    }

    &__title {
      color: map-get($colors, "blue");
    }
  }

  &-products {
    width: calc(100% - #{rem(358)});
    margin: 0 auto rem(85) auto;
    background: map-get($colors, "lightblue");
    padding: rem(50);
    position: relative;

    &__acf {
      &-title {
        font-weight: map-get($font-weight, "bold");
        font-size: rem(22);
        text-transform: uppercase;
        font-family: myriadpro-regular;
      }

      &-value {
        font-size: rem(20);
        line-height: rem(25);
      }

      &-title,
      &-value {
        margin-bottom: rem(3);
      }
    }

    &__item {
      @include hide();
      width: 100%;
      height: 100%;
      position: absolute;

      .listview-products__acf-value:last-of-type {
        margin-bottom: rem(30);
      }
    }

    .active {
      display: block;
      visibility: visible;
      position: relative;
    }
  }
}

#product-list {
  position: relative;
}

@media (max-width: em(727)) {
  .listview {
    &-products {
      width: 100%;
    }    
  }
}

@media (max-width: em(1440)) {
  .listview {
    &-products {
      width: calc(100% - #{rem(140)});
    }

    &-services__wrapper {
      justify-content: center;
    }
  }
}