

.widget-column {
  background: map-get($colors, "blue");
  color: map-get($colors, "white");

  &__article {
    display: flex;
    border-top: solid rem(1) map-get($colors, "grey");
  }

  .widget-column__article {
    &:first-child {
      border: none;
    }
  }

  &__image {
    flex-basis: (610%/1440) * 100;
    position: relative;

    &:before {
      width: rem(150);
      height: rem(150);
      content: "";
      background: map-get($colors, "green") no-repeat center center;
      right: rem(-75);
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      z-index: 90;
      border-radius: 100em;
    }
  }

  &__productos {
    &:before {
      background-image: url("../images/prod.png");
    }
  }

  &__nuestra-empresa {
    &:before {
      background-image: url("../images/nuestra_empresa.png");
    }
  }

  &__content {
    flex-basis: (830%/1440) * 100;
    position: relative;
  }

  &__content-wrapper {
    display: flex;
    padding: 0 rem(115);
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__title,
  &__text {
    flex-basis: 100%;
  }

  &__title {
    color: map-get($colors, "green");
    font-size: rem(27);
  }

  &__text {
    font-family: myriadpro-light;
    font-size: rem(20);
    margin: rem(5) 0 rem(10) 0;
  }
}

.widget-news {
  padding: rem(32) 0 rem(52) 0;

  &__container {
    width: rem(990);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__deco {
    min-width: rem(150);
    height: rem(150);
    background: map-get($colors, "green") center center no-repeat url("../images/novedades.png");
    border-radius: 10rem;
  }

  &__text {
    padding: 0 rem(120) 0 rem(40);
    flex-grow: 1;
    font-family: myriadpro-light;
  }

  &__more {
    min-width: rem(180);
    text-align: right;
  }

  &__title {
    color: map-get($colors, "green");
    font-size: rem(27);
    margin-bottom: rem(5);
  }
}