.hidden,
.element-invisible {
  display: none;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: em(1);
  margin: em(-1);
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: em(1);

  &.focusable {
    &:active,
    &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

[class *= aspect-] {
  margin: 0;
  width: 100%;
  height: 0;
  position: relative;
  display: block;
  background: map-get($colors, "black");
  background-size: 60% auto;
  overflow: hidden;
  z-index: 0;

  img,
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.aspect-1-1 {
  padding-bottom: 100%;
}

.aspect-16-9 {
  padding-bottom: (9%/16*100);
}

.aspect-column {
  padding-bottom: (310%/610*100);
}

.uppercase {
  text-transform: uppercase;
}

.blured {
  background-image: none;

  .lzl {
    filter: blur(10px);
    transform: scale(1.02);
  }

  .loaded,
  .error {
    background: none !important;
    filter: blur(0);
    transition: filter 1s cubic-bezier(.08, .74, .39, .97), transform 1s cubic-bezier(.08, .74, .39, .97);
    will-change: filter, transform;
    transform: scale(1);
  }
}

.more-info {
  border: solid rem(1);
  height: rem(30);
  line-height: rem(30);
  padding: 0 rem(22);
  border-radius: rem(9);
  font-weight: map-get($font-weight, "bold");
  display: inline-block;

  &:before {
    content: "+ ";
  }
}

.more-info-white {
  border-color: map-get($colors, "blue");
  color: map-get($colors, "blue");

  &:before {
    color: map-get($colors, "green");
  }
}

.more-info-blue {
  border-color: map-get($colors, "white");
  color: map-get($colors, "white");

  &:before {
    color: map-get($colors, "green");
  }
}

.more-info-green {
  border-color: map-get($colors, "white");
  color: map-get($colors, "white");

  &:before {
    color: map-get($colors, "blue");
  }
}