.widget-news {
  padding: rem(32) 0 rem(52) 0;

  &__container {
    width: 100%;
    max-width: rem(990);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__deco {
    min-width: rem(150);
    height: rem(150);
    background: map-get($colors, "green") center center no-repeat url("../images/novedades.png");
    border-radius: 10rem;
  }

  &__text {
    padding: 0 rem(120) 0 rem(40);
    flex-grow: 1;
    flex-basis: rem(100);
    font-family: myriadpro-light;
  }

  &__more {
    min-width: rem(180);
    text-align: right;
  }

  &__title {
    color: map-get($colors, "green");
    font-size: rem(27);
    margin-bottom: rem(5);
  }
}

@media (max-width: em(560)) {
  .widget-news {
    &__deco {
      min-width: rem(100);
      height: rem(100);
      background-size: 45%;
    }
  }
}

@media (max-width: em(768)) {
  .widget-news {
    &__text {
      padding: 0 rem(10) 0 rem(20);
    }

    &__more {
      min-width: rem(94);
      flex-basis: rem(94);
    }
  }
}

@media (max-width: em(460)) {
  .widget-news {
    &__container {
      flex-wrap: wrap;
    }

    &__more {
      flex-basis: 100%;
    }

    .more-info {
      width: 100%;
      text-align: center;
      margin-top: rem(15);
    }
  }
}